body {
    font-family: 'Poppins', sans-serif;
    margin: o;
}

.bold {
    color: white;
}

.amount {

    padding-left: 43%;
    padding-right: 20%;





}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 40px;
    position: relative;


}

.donate-button-2 {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 40px;
    position: absolute;
    left: 5.6in;
    top: 11.4in;

}

.first-section {
    text-align: center;
    color: white;
    background-image: url(images/donation8.jpg);
    background-size: cover;
    height: 5in;
    padding-left: 20px;
    margin-bottom: 1.5in;

}

.second-section {
    text-align: center;
}

.tk {
    color: gray;
    display: flex;
    margin-bottom: 2in;

}

.box-1 {
    box-shadow: 10px 15px 20px gray;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    border-radius: 10px;
    color: rgb(167, 162, 162);
    background-color: rgb(235, 235, 238);
}

.box-2 {
    box-shadow: 10px 15px 20px gray;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    border-radius: 10px;
    background-color: rgb(243, 179, 179);
    border: 3px solid rgb(248, 124, 124);
    color: rgb(248, 124, 124)
}

.box-3 {
    box-shadow: 10px 15px 20px gray;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    border-radius: 10px;
    color: rgb(167, 162, 162);
    background-color: rgb(235, 235, 238);

}

.box-4 {
    box-shadow: 10px 15px 20px gray;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    border-radius: 10px;
    background-color: rgb(235, 235, 238);
    color: rgb(167, 162, 162);

}

.box-5 {
    box-shadow: 10px 15px 20px gray;
    width: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    border-radius: 10px;
    color: rgb(167, 162, 162);
    background-color: rgb(235, 235, 238);
}

button {
    position: static;
    left: 2.5in;
    top: 10.1in
}

.third-part {
    position: absolute;
    top: 25%;
    left: 25%;

}







.button-2 {
    align-items: center;
}

p {
    color: gray;
}

.part-5 {
    margin-top: 1in;
    text-align: center;
}

.part-6 {
    display: flex;

}

.part-6-1 {
    background-color: rgb(222, 222, 245);
    width: 1600px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
    height: 5.6in;
}

.part-6-2 {
    background-color: rgb(248, 193, 193);
    width: 1600px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
    height: 5.6in;
}

.part-6-3 {
    background-color: rgb(227, 206, 168);
    width: 1600px;
    border: 15px solid white;
    padding: 20px;
    margin: 20px;
    height: 5.6in;
}

.second-last {
    text-align: center;
}

.desaster {
    margin-top: 2in;
    shape-image-threshold: calc(3in 3in);
    height: 5in;
}

.updates h2 {
    text-align: center;
}

.updates p {
    text-align: center;
    margin-bottom: 0.5in;
}

.subscribe {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 20px;

}

form {
    margin-top: 1in;
    position: absolute;
    left: 4.2in;
    top: 21in;
    background-color: rgb(237, 159, 159);
    width: 5in;
    padding: 20px;
    border: 15px solid white;

    margin: 20px;
    height: 0.3in;
    margin-top: .6in;
    margin-bottom: 1in;
}

h4 {
    text-align: center;
    margin-top: 1.5in;
    color: red;
}

footer {
    text-align: center;
    color: white;

}

.last {
    margin-top: 1in;
    background-color: black;
    height: 1.5in;


}